.mascote {
    border-radius: 15px;
    
}

.cor-preta {  
color: black;
}

.cor-laranja {  
    color: #ff7b00;
    }
    .cor-marron {
        color: #381e04;
        font-size: 22px;
    }